#!/usr/bin/env xdg-open
[Desktop Entry]
Name=NoteApp
GenericName=Text Editor
Comment=A lightweight text editor for KDE
Exec=kirigami-noteapp %f
Icon=text-editor
Terminal=false
Type=Application
Categories=Qt;KDE;Utility;TextEditor;
Keywords=text;editor;notepad;markdown;code;
MimeType=text/plain;text/x-readme;text/x-log;text/x-changelog;text/x-authors;text/x-install;text/x-copying;text/x-credits;text/markdown;text/x-markdown;text/x-cmake;text/x-c;text/x-c++;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-python;text/x-python3;text/x-perl;text/x-ruby;text/x-shellscript;text/x-sh;text/x-bash;text/x-zsh;text/html;text/css;text/javascript;text/x-qml;text/xml;text/x-tex;text/x-makefile;text/x-cmake;text/x-patch;text/x-diff;application/json;application/x-yaml;application/yaml;application/xml;application/x-docbook+xml;application/xhtml+xml;application/javascript;application/x-shellscript;application/x-desktop;application/x-config;application/toml;
